<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



<% dataFromRoute.forEach(function(number){ %>
	<h3> <%= number %> </h3>

<% }) %>



<form method="POST" action="/users">
	<label for="textInput"> Enter your new username! </label>
	<input id = 'textInput' type="text" name='username'>
	<input id = 'submitButton' type="submit">

</form>


</body>
</html>
