<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>WELCOME TO REDDIT CLONE!</h1>
</body>
</html>


<form method="POST" action="http://localhost:3000/users">
	<label for="textInput"> Enter your new username! </label>
	<input id = 'textInput' type="text">
	<input id = 'submitButton' type="submit">

</form>
