<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>users index</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>


<h1>Welcome to Reddit! </h1>
<h3>These are your users:</h3>
<form method="POST" action="/users">
    <label for="textInput"> Add a new user! </label>
    <input id = 'textInput' type="text" name='username'>
    <input class = 'btn btn-info' id = 'submitButton' type="submit">

</form>



<br>
<br>

    <% username.forEach(function(name){%>
        <h4>  <%= name.username %> </h4>
        <form method="POST" action="/users/<%=name.username%>?_method=DELETE" >
          <button class="btn btn-info" type="submit">Delete user</button>
        </form>
        <br>
    <%})%>


    <br>
    <br>
    <a href="posts/new" method= "GET" class="btn btn-info" role="button">make a new post</a>
    <br>
    <br>







  </body>
</html>
