<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>



    <h1>Reddit: This is your post!</h1>


        <h4>  <%= myPost.title %> </h4>
        <h4>  <%= myPost.content_link %> </h4>


        <a href="/" class="btn btn-info" role="button">go back to posts</a>




</body>
</html>
