<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<form method="POST" action="/posts">
    <label for="userNameField"> Enter your username: </label>
    <input id = 'userNameField' type="text" name='username'>

	<label for="textInput"> Enter your post: </label>
	<input id = 'textInput' type="text" name='title'>


    <label for="contentLinkField"> Enter the link for your post: </label>
	<input id = 'contentLinkField' type="text" name='content_link'>


	<input id = 'submitButton' type="submit">

</form>


</body>
</html>
